@import "generic.reset.css";

@import "settings.fonts.css";

@import "custom-media.css";

@import "inspections.css";

.rouble {
	font-family: "Rouble"; /* stylelint-disable-line */
}

*, *::before, *::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html, body {
	font-size: 14px;
	font-family: "open-sans", "Arial", "Helvetica", sans-serif;

	background-color: #f5f5f5; /* фон для > 1920px */
}

.svg-icon {
	display: block;
	flex-shrink: 0;
}

.visually-hidden {
	position: absolute !important;

	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	overflow: hidden;

	border: 0 !important;

	clip: rect(1px, 1px, 1px, 1px);
}
