:root {
	--color-default: oklch(100% 0 0);

	--size-layout-min-width: 320px;
	--size-layout-max-width: 1920px;
	--size-base-padding-horizontal: 8.1vw;
	@media (--desktop-large) {
		--size-base-padding-horizontal: 157px;
	}
	@media (--tablet) {
		--size-base-padding-horizontal: 20px;
	}
}
