{% extends "_layout.njk" %}

{% block inspection %}
	{# <div class="inspection inspection-main"></div> #}
{% endblock %}

{% block content %}
	<main class="container">
		<section class="section section-hero">
			<div class="central">

			</div>
		</section>
	</main>
{% endblock %}
