<!DOCTYPE html>
<html class="html" lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Site</title>

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

		<link href="css/style.min.css" rel="stylesheet">

		<link href="fonts/OpenSans-Regular.woff2" type="font/woff2" rel="preload" as="font" crossorigin>

		<style>
			@font-face {
				font-weight: normal;
				font-family: "open-sans";
				font-style: normal;
				font-display: swap;
				src: url("fonts/OpenSans-Regular.woff2") format("woff2");
			}
		</style>

		{# Scripts #}
		<script src="js/main.min.js" type="module"></script>
	</head>

	<body class="body">
		{% include "_inspections.njk" %}

		<div class="wrapper">
			{# Header #}
			{% include "components/_header.njk" %}

			{% block inspection %} {% endblock %}

			{% block content %} {% endblock %}

			{# Footer #}
			{% include "components/_footer.njk" %}
		</div>
	</body>
</html>
