<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Site</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		{# Mobile Specific Metas #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# Styles #}
		<link href="styles/style.min.css" rel="stylesheet" type="text/css">
		{# Fonts #}
		<link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>

		<style type="text/css">
			@font-face {
				font-weight: normal;
				font-family: "open-sans";
				font-style: normal;
				font-display: swap;
				src: url("fonts/OpenSans-Regular.woff2") format("woff2");
			}
		</style>
	</head>

	<body>
		{% include "_inspections.html" %}

		<div class="wrapper">
			{# Header #}
			{% include "block/_header.html" %}

			{% block inspection %} {% endblock %}

			{% block content %} {% endblock %}

			{# Footer #}
			{% include "block/_footer.html" %}
		</div>

		{# Scripts #}
		<script src="scripts/main.min.js"></script>
	</body>
</html>
