extends _layout.html

block content

	<main class="container">
		
		<section class="section-hero">
			<div class="central">
				<picture>
					<img class="img-example" src="img/object-fit.jpg" srcset="img/object-fit@2x.jpg 2x" width="328" height="328" alt="тестирование object-fit cover">
				</picture>
				
				<svg class="svg-icon" width="90" height="81" role="img" aria-label="тестирование svg">
					<!-- aria-hidden="true" в use исправляет работу некоторых screen readers (из статьи https://www.scottohara.me/blog/2019/05/22/contextual-images-svgs-and-a11y.html) -->
					<use xlink:href="#test" aria-hidden="true"></use>
				</svg>

				<button class="button-green"> 
					|  Тестовая кнопка
					<svg class="svg-icon" width="90" height="81" aria-hidden="true"></svg>
						<use xlink:href="#test"></use>
				</button>

				<button class="button-green" aria-label="Тестовая кнопка 2">
					<svg class="svg-icon" width="90" height="81" aria-hidden="true">
						<use xlink:href="#test"></use>
					</svg>
				</button>
			</div>
		</section>
	</main>
