.page-wrapper {
	position: relative;

	display: flex;
	flex-direction: column;
	min-width: 320px;
	max-width: 1920px;
	min-height: 100vh;
	margin: 0 auto;

	background-color: #ffffff;

	transition: all 0.3s;
}

.page-container {
	flex: 1 0 auto;
}

.page-section {
	padding: 0 3.1vw;
}
