.wrapper {
	position: relative;

	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;

	background-color: var(--color-default);

	transition: all 0.3s;
}

.container {
	flex: 1 0 auto;
}

.central {
	width: 93vw;
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
	@media only screen and (width <= 992px) {
		width: 100%;
		padding: 0 20px;
	}
}

.columns {
	display: flex;
	@media only screen and (width <= 992px) {
		flex-direction: column;
	}
}

.column {
	width: 50%;
	&:first-child {
		margin-right: 32px;
	}
	&:last-child {
		margin-left: 32px;
	}
	@media only screen and (width <= 992px) {
		width: 100%;
		&:first-child {
			margin-right: 0;
		}
		&:last-child {
			margin-left: 0;
		}
	}
}
