@import "./global/global.pcss";

@import-glob "./libraries/**/global/**/*.pcss";

@import-glob "./libraries/**/redefinition/**/*.pcss";

@import-glob "./objects/**/*.pcss";

@import-glob "./components/**/*.pcss";

@import-glob "./pages/**/*.pcss";
