@import-glob "base/layout.postcss";

@import-glob "libraries/**/global/**/*.postcss";

@import-glob "libraries/**/redefinition/**/*.postcss";

@import-glob "ui/**/*.postcss";

@import-glob "templates/**/*.postcss";

@import-glob "pages/**/*.postcss";
