.button-app {
	display: block;
	padding: 12px 29px;

	color: oklch(100% 0 0);
	font-size: 16px;
	font-family: inherit;

	background: oklch(51.98% 0.17 142.49);
	border: none;
	border-radius: 22px;
	cursor: pointer;

	transition: 0.3s;
	&:hover {
		@media (hover: hover), (pointer: fine) {
			opacity: 0.8;
		}
	}
}
