.section-hero {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-hero__central {
	min-width: var(--size-layout-min-width);
	max-width: var(--size-layout-max-width);
	padding-right: var(--size-base-padding-horizontal);
	padding-left: var(--size-base-padding-horizontal);
}
