.page-section-hero {
	margin-top: 50px;
	margin-bottom: 50px;
	@media only screen and (width <= 992px) {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.img-example {
	display: block;
	width: 50%;
	max-width: 328px;
	height: 328px;

	font-family: "object-fit: cover;"; /* stylelint-disable-line */
	object-fit: cover;
}
