.p-example {
	font-family: "OpenSans", sans-serif;
}

.a-example {
	display: inline-block;
	margin: 0 0 10px 0;

	color: #000000;
	font-family: "OpenSans", sans-serif;
	text-decoration: none;

	border-bottom: 1px solid #000000;

	transition: all 0.3s;
	@media (--hover) {
		&:hover {
			color: red;
		}
	}
}

.select-example {
	display: block;
	&:focus:not(:focus-visible) {
		outline: 0;
	}
}

.img-example {
	width: 50%;
	max-width: 328px;
	height: 328px;

	font-family: "object-fit: cover;"; /* stylelint-disable-line */
	object-fit: cover;
}
