.button-green {
	display: block;
	padding: 12px 29px;

	color: #ffffff;
	font-size: 16px;
	/* По умолчанию многие браузеры используют системный шрифт в элементах формы
	таких как input, textarea, select, button */
	font-family: inherit;

	background: green;
	border: none;
	border-radius: 22px;
	cursor: pointer;

	transition: all 0.3s;
	&:hover {
		@media (--hover) {
			opacity: 0.8;
		}
	}
	&:focus:not(:focus-visible) {
		outline: 0;
	}
}
