.wrapper {
	position: relative;

	display: grid;
	grid-template-rows: 1fr min-content;
	min-height: 100vh;

	background-color: var(--color-default);
}

.central {
	width: 93vw;
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
	@media (--tablet) {
		width: 100%;
		padding: 0 20px;
	}
}

.columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 64px;
	@media (--tablet) {
		grid-template-columns: none;
		gap: 0;
	}
}
