*,
*::before,
*::after {
	box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

html,
body {
	margin: 0;

	font-size: 16px;
	font-family: "open-sans", sans-serif;
}
