@import "generic.reset.pcss";

@import "utilities.pcss";

@import "settings.fonts.pcss";

@import "custom-properties.pcss";

@import "custom-media.pcss";

@import "inspections.pcss";

*,
*::before,
*::after {
	box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

html,
body {
	font-size: 16px;
	font-family: "open-sans", "Arial", "Helvetica", sans-serif;
}
